#digital {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;

  text-align: center;

  color: #4a4a4a;
}
#carosel-1 {
  width: auto;
  height: 700px;
  border-radius: 5px;
}

#img {
  filter: blur(5px);
  width: auto;
  height: 700px;
}
.middle {
  width: 671px;
  height: 336px;
  margin-left: 20px;
}
#btn {
  width: 182px;
  height: 56px;

  background: #289bde;
  border: 1px solid #289bde;
  border-radius: 5px;
}
.discover {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
}
.discover-1 {
  width: 606px;
  height: 190px;
  margin-top: 20px;
}
#img-1 {
  width: 600px;
  height: 806px;
}
.register {
  width: auto;
  height: 300px;
  background: #289bde;
  border-radius: 5px;
}
.register-1 {
  width: 528px;
  height: 140px;
}
#btn-1 {
  width: 199px;
  height: 56px;

  background: #ffffff;
  /* White Color */

  border: 1px solid #ffffff;
  border-radius: 5px;
}
.fa-solid {
  color: rgba(48, 48, 9, 0.362);
}
.Success {
  border: 1px solid #e8e8e8;
  padding: 10px;
}
.foot-1 {
  width: auto;
  height: 472px;
  margin-top: 25px;
  background: #161616;
  display: flex;
  justify-content: center;
  align-items: center;
}
.foot-2 {
  width: 321px;
  height: 212px;
}
.foot-3 {
  color: #ffffff;
}
#break {
  border-right: 1px solid #ffffff;
  border-width: 4px;
  margin-left: 10px;
}
.fa-brands {
  color: white;
}
/* mobail device viwe */
@media only screen and (max-width: 576px) {
  #img {
    filter: blur(5px);
    width: 335px;
    height: 262px;
  }
  .middle {
    width: 274px;
    height: 184px;
  }
  #btn {
    width: 93px;
    height: 24px;
    background: #289bde;

    text-align: center;

    color: #ffffff;
  }
  .register {
    width: 335px;
    height: 223px;
  }
  .register-1 {
    width: 305px;
    height: 72px;
    margin-left: 20px;
  }
  #btn-1 {
    width: 136px;
    height: 38px;
    margin-top: 60px;
    margin-left: 20px;
  }
}
