#digital {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;

  text-align: center;

  color: #4a4a4a;
}
#carosel-1 {
  width: auto;
  height: 700px;
  border-radius: 5px;
}

#img {
  filter: blur(5px);
  width: auto;
  height: 700px;
}
.middle {
  width: 671px;
  height: 336px;
  margin-left: 20px;
}
#btn {
  width: 182px;
  height: 56px;

  background: #289bde;
  border: 1px solid #289bde;
  border-radius: 5px;
}
.discover {
  border: 1px solid black;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
}
.discover-1 {
  border: 1px solid darkgoldenrod;
  width: 606px;
  height: 190px;
  margin-top: 20px;
}
/* mobail device viwe */
@media only screen and (max-width: 576px) {
  #img {
    filter: blur(5px);
    width: 335px;
    height: 262px;
  }
  .middle {
    width: 274px;
    height: 184px;
  }
  #btn {
    width: 93px;
    height: 24px;
    background: #289bde;

    text-align: center;

    color: #ffffff;
  }
}
